.postSkeleton {
    width: 100%;
    height: 55vh;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin-top: 20px;
}

.postSkeletonWrapper {
    padding: 10px;
}

.postSkeletonTop {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
}

.postSkeletonImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #DDDBDD;
}

.postSkeletonDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.postSkeletonUsername{
    height: 15px;
    width: 50%;
    color: #DDDBDD;
    background-color: #DDDBDD;
    margin: 2px;
}

.postSkeletonDate{
    height: 15px;
    width: 40%;
    color: #DDDBDD;
    background-color: #DDDBDD;
    margin: 2px;
}

.postSkeletonBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}

.postSkeletonText1{
    height: 13px;
    width: 80%;
    color: #DDDBDD;
    background-color: #DDDBDD;
    margin: 5px;

}

.postSkeletonText2{
    height: 13px;
    width: 70%;
    color: #DDDBDD;
    background-color: #DDDBDD;
    margin: 5px;
}

.postSkeletonText3{
    height: 13px;
    width: 85%;
    color: #DDDBDD;
    background-color: #DDDBDD;
    margin: 5px;
}

.wave {
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}
 @keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}