.rightbarAdWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightbarAd {
    width: 100%;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
}

.hideAd {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.hideAd p {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px dashed gray;
}

.rightbarAd {
    object-fit: cover;
}