
.rightbarImgProfile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.rightbarUsername {
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.rightbarImgProfileContainer {
    position: relative;
}
.rightbarOnline {
    background-color: limegreen;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -2px;
    right: 0px;
    border: 2px solid white;
}