.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 45px;
}
.sidebarFriend:hover{
    background-color: #efefef;
    cursor: pointer;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 15px 0 10px;
} 